<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Add the Bootstrap CSS link here -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <ul class="nav nav-tabs" id="myTabs">
    <li class="nav-item">
      <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1">Tab 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2">Tab 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3">Tab 3</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="tab1">
      <h3>Content for Tab 1</h3>
      <p>This is the content of Tab 1.</p>
    </div>
    <div class="tab-pane fade" id="tab2">
      <h3>Content for Tab 2</h3>
      <p>This is the content of Tab 2.</p>
    </div>
    <div class="tab-pane fade" id="tab3">
      <h3>Content for Tab 3</h3>
      <p>This is the content of Tab 3.</p>
    </div>
  </div>
</div>

<!-- Add the Bootstrap JS and Popper.js scripts here -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
